div.assignment-points {
    margin-left: 0.5em;
}

div.assignment-points > span > label > input {
    width: 3em;
    height: 22px;
    text-align: right;
}

div.assignment-gradeable-cell {
    background-color: #FFA;
}
