div.assignment-controls {
    display: flex;
}

div.assignment-points, div.assignment-weight, div.assignment-id {
    margin-right: 0.5em;
}

input.assignment-points-input, input.assignment-weight-input {
    width: 3em;
    height: 22px;
    text-align: right;
}

input.assignment-id-input {
    height: 22px;
    text-align: left;
}

div.assignment-gradeable-cell {
    background-color: #FFA;
}

div.assignment-autograder-cell {
    background-color: #DDD;
}

.ui-resizable {
    background-color: white;
    border: solid 1px #999;
}
